[alias]
	ch = checkout
	br = branch
	st = status
	amend = commit --amend --no-edit
	dog = log --color --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cred%d %Creset%s %Cgreen(%ar)' --date=short
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = code --wait
[diff]
  	tool = vscode
[difftool "vscode"]
  	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  	tool = vscode
[mergetool "vscode"]
  	cmd = code --wait $MERGED
[difftool]
	prompt = false
